<a href="https://colab.research.google.com/github/diegosfc91/CODING-DOJO-DIEGO/blob/main/Proyecto_I_Parte_III_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Cargar los Datos

In [7]:

import pandas as pd

# Cargar datos desde un archivo CSV
df = pd.read_csv('/content/CODING DOJO/retail_sales_dataset.csv')

# Ver las primeras y Ãºltimas filas del DataFrame
print("Primeras filas del DataFrame:")
df.head(10)

Primeras filas del DataFrame:

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

# 3. TransformaciÃ³n de Datos

In [12]:
# Crea nuevas columnas
df['Total Revenue'] = df['Quantity'] * df['Price per Unit']
print("\nDataFrame con la nueva columna 'Total Revenue':")
print(df[['Quantity', 'Price per Unit', 'Total Revenue']].head(10))


# Clasifica los datos
df['Status'] = df['Total Revenue'].apply(lambda x: 'High' if x > 1000 else 'Low')
print(df)

# Aplica funciones de agregaciÃ³n como sum, mean, count, min, max, std, y var.
estadisticas_por_categoria = df.groupby('Product Category').agg({
    'Quantity': ['sum', 'mean', 'count', 'min', 'max', 'std', 'var'],
    'Price per Unit': ['sum', 'mean', 'min', 'max', 'std', 'var'],
    'Total Amount': ['sum', 'mean', 'min', 'max', 'std', 'var']
})

print("\n EstadÃ­sticas por categorÃ­a de producto:")
print(estadisticas_por_categoria)

DataFrame con la nueva columna 'Total Revenue':
   Quantity  Price per Unit  Total Revenue
0         3              50            150
1         2             500           1000
2         1              30             30
3         1             500            500
4         2              50            100
5         1              30             30
6         2              25             50
7         4              25            100
8         2             300            600
9         4              50            200
     Transaction ID       Date Customer ID  Gender  Age Product Category  \
0                 1 2023-11-24     CUST001    Male   34           Beauty
1                 2 2023-02-27     CUST002  Female   26         Clothing
2                 3 2023-01-13     CUST003    Male   50      Electronics
3                 4 2023-05-21     CUST004    Male   37         Clothing
4                 5 2023-05-06     CUST005    Male   30           Beauty
..              ...        ...         ...     ...  ...              ...
995             996 2023-05-16     CUST996    Male   62         Clothing
996             997 2023-11-17     CUST997    Male   52           Beauty
997             998 2023-10-29     CUST998  Female   23           Beauty
998             999 2023-12-05     CUST999  Female   36      Electronics
999            1000 2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Month  Total Revenue Status
0           3              50           150     11            150    Low
1           2             500          1000      2           1000    Low
2           1              30            30      1             30    Low
3           1             500           500      5            500    Low
4           2              50           100      5            100    Low
..        ...             ...           ...    ...            ...    ...
995         1              50            50      5             50    Low
996         3              30            90     11             90    Low
997         4              25           100     10            100    Low
998         3              50           150     12            150    Low
999         4              30           120      4            120    Low

[1000 rows x 12 columns]

 EstadÃ­sticas por categorÃ­a de producto:
                 Quantity                                              \
                      sum      mean count min max       std       var
Product Category
Beauty                771  2.511401   307   1   4  1.100668  1.211471
Clothing              894  2.547009   351   1   4  1.142647  1.305641
Electronics           849  2.482456   342   1   4  1.153084  1.329603

                 Price per Unit                                   \
                            sum        mean min  max         std
Product Category
Beauty                    56505  184.055375  25  500  194.929399
Clothing                  61175  174.287749  25  500  186.017065
Electronics               62210  181.900585  25  500  189.049673

                               Total Amount                                    \
                           var          sum        mean min   max         std
Product Category
Beauty            37997.470780       143515  467.475570  25  2000  563.612788
Clothing          34602.348392       155580  443.247863  25  2000  550.695917
Electronics       35739.778944       156905  458.786550  25  2000  567.540150


                            var
Product Category
Beauty            317659.374401
Clothing          303265.992674
Electronics       322101.822341

# 4. AgrupaciÃ³n y AgregaciÃ³n

In [11]:
# AgrupaciÃ³n por mÃºltiples columnas
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month # Crear una nueva columna 'Month' a partir de la columna 'Date'

agrupacion_mes = df.groupby(['Month']).agg({
    'Total Amount': 'sum',
    'Quantity': 'sum'
}).reset_index() # Agrupar por'Month', y sumar 'Total Revenue' y 'Quantity'

print("\nAgrupaciÃ³n por 'Month' (suma de ingresos y cantidad):")
print(agrupacion_mes)

AgrupaciÃ³n por 'Month' (suma de ingresos y cantidad):
    Month  Total Amount  Quantity
0       1         36980       199
1       2         44060       214
2       3         28990       194
3       4         33870       214
4       5         53150       259
5       6         36715       197
6       7         35465       176
7       8         36960       227
8       9         23620       170
9      10         46580       252
10     11         34920       205
11     12         44690       207

#5. AnÃ¡lisis Personalizado con apply

In [14]:
# FunciÃ³n personalizad
def clasificar_cliente(fila):
    if fila['Total Amount'] > 2000:
        return 'Alto'
    elif fila['Total Amount'] > 1000:
        return 'Medio'
    else:
        return 'Bajo'

# Ejemplo de uso avanzado:
media_por_mes = df.groupby('Month')['Total Amount'].transform('mean')

df['Deviation from Mean'] = df['Total Amount'] - media_por_mes
print("\nDataFrame con la desviaciÃ³n de cada venta respecto a la media de su mes:")
print(df[['Month', 'Total Amount', 'Deviation from Mean']].head(10))

DataFrame con la desviaciÃ³n de cada venta respecto a la media de su mes:
   Month  Total Amount  Deviation from Mean
0     11           150          -297.692308
1      2          1000           481.647059
2      1            30          -444.102564
3      5           500            -6.190476
4      5           100          -406.190476
5      4            30          -363.837209
6      3            50          -347.123288
7      2           100          -418.352941
8     12           600           108.901099
9     10           200          -285.208333